// Our Services 
.gm_our_services {
    position: relative;

    &__image {
        & img {
            max-width: 100%;
            width: auto;
        }

        & .img-two {
            position: absolute;
            bottom: 60px;
            right: 42px;
        }
    }

    &__content {
        position: relative;

        &>p {
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
        }
    }
}