@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --body-font: "Exo", sans-serif;
    --heading-font: "Oswald", sans-serif;

    --primary-color: #031520;
    --secondary-color: #FF5824;
    --text-color: #5D676D;
    --color-white: #FFFFFF;

    --color-background: #FFFFFF;
    --color-shade-background: #F9F5F2;
    --color-subtitle-backgorund: rgba(255, 88, 36, 0.1);
    --gradient-background:
    --color-accent: #FF5824;
    --color-foreground: ;
    --color-heading: #031520; 
    --color-shadow: ;
    --color-primary-button: #FF5824;
    --color-primary-button-text: #FFFFFF;
    --color-primary-button-hover: #031520;
    --color-primary-button-hover-text: #FF5824;
    --color-primary-button-outline: #FF5824;
    --color-primary-button-outline-hover: #031520;
    --color-secondary-button: 
    --color-secondary-button-text:
    --color-secondary-button-hover:
    --color-secondary-button-hover-text: 
    --color-secondary-button-outline: 
    --color-secondary-button-outline-hover: 
    --color-link: #FF5824;
    --color-input:
    --color-border: 
    --color-input-outline: ;
    --color-placeholder: #FFFFFF;
    --color-badge-foreground: 
    --color-badge-background: 
    --color-badge-border: 
    --payment-terms-background-color: 
    --transition-base: all 0.3s;

    --color-yellow: #F9C221;
    --color-yellow-background: #F9C221;
}