// Countdown Timer 
.gm_trainTimer {
    padding: 56px 56px 38px;
    background: var(--primary-bg-color);

    & h2 {
        font-size: 56px;
        font-weight: 600;
        line-height: 73px;
        text-align: center;
        color: var(--color-white);
        margin-bottom: 16px;
        text-transform: uppercase;
    }

    & p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        color: rgba(255, 255, 255, .7);
        margin-bottom: 32px;
    }

    & .gm_countdown {
        & ul {
            padding: 0;
            background: var(--primary-bg-color);

            & li {
                background: var(--color-yellow);
            }

            & .gm_timerSeparator {
                color: var(--color-yellow);
                background: transparent;
                padding: 14px 14.4px;
                & span{
                    font-size: 31px;
                }
            }
        }
    }
}


// Offer Product 
.gm_offerPd_deal {
    overflow: hidden;
}

.gm_offerPd_pagin {
    margin-top: 64px;
    text-align: center;
    @include displayFlex(flex, center, center, row);
    gap: 18px;

    & span {
        border: 1px solid transparent;
        width: 24px;
        height: 24px;
        border-radius: 0;
        background: transparent;
        position: relative;
        opacity: 1;
        margin: 0 !important;

        &::after {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background: rgba(3, 21, 32, .5);
        }
    }

    & span.swiper-pagination-bullet-active {
        border-color: var(--secondary-color);

        &::after {
            background: var(--secondary-color);
        }
    }
}