// About Style 
.gm_about_section {
    position: relative;
    overflow: hidden;

    &__body {
        & p {
            margin-bottom: 48px;
            max-width: 520px;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
        }
    }

    & .gm_stretch_Img {
        position: relative;

        img {
            max-width: 100%;
            width: 100%;
            object-fit: cover;
            image-rendering: pixelated;

            @include large-screen {
                min-height: 460px;
            }
        }
    }
}

// Video Popup 
.gm_video_popup_sec {
    position: relative;
}

.gm_video_playBtnWrapp {
    padding: 205px 0;
}

.gm_video_playBtn {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    text-align: left;
    font-family: var(--heading-font);
    color: var(--color-white);
    @include displayFlex(flex, center, center, column);
    width: 160px;
    height: 160px;
    text-transform: uppercase;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    margin: 0 auto;
    transition: 0.4s all;

    &:hover {
        border-color: var(--secondary-color);
        color: var(--secondary-color);
        transform: scale(.95)
    }
}

.gm_video_playBtn+span {
    display: none;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    width: 90%;
    height: 80%;
    max-width: 1290px;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: -50px;
    font-size: 34px;
    line-height: 1;
    border-radius: 50%;
    color: var(--secondary-color);
    cursor: pointer;
    z-index: 10000;
    border: 1px solid var(--secondary-color);
    margin: 0;
    height: 40px;
    width: 40px;
    @include displayFlex(flex, center, center, column);

    &:hover {
        color: var(--color-white);
    }
}